#console {
  margin-top : 3px;
  width : 640px;
  height: auto;
  border : 1px solid red;
}

#clever-ads-player {
  margin: 0 auto;
  position: relative;
  width: 640px;
}

#playerContainer {
  width: 640px;
  height: 360px;
}

#player, #ad {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#player.active {
  z-index: 2;
}

#ad.active {
  z-index: 2;
}

.hidden {
  display:none;
}

