html, body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

h1 {
  color: #6FC1AF;
  font-size: 32px;
  line-height: 60px;
  margin-left: 64px;
}

#clever-ads-player {
  margin: 0 auto;
  position: relative;
  width: 640px;
}

#playerContainer {
  width: 640px;
  height: 360px;
}

#player, #ad, #the-quiz {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#player.active {
  z-index: 2;
}

#ad.active {
  z-index: 2;
}

#the-quiz {
  z-index: 3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#the-quiz > div {
  position: absolute;
  top: auto;
  bottom: 5%;
  left: 0;
  right: 0;
}

.quiz-background {
  opacity: 0.55;
  background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, #000000 100%);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.hidden {
  display:none;
}

.quiz-title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 300;
}

.quiz-answer-container {
  margin: 0 22px;
}

.quiz-answer {
  font-size: 16px;
  padding: 0;
  box-sizing: border-box;
  width: calc(100%/3 - 20px);
  margin: 0 10px;
  float: left;
  border: 1px solid #ffffff;
  color: #ffffff;
  line-height: 48px;
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
  font-weight: 300;
}

.quiz-answer--correct {
  border-color: #77B137;
  background: rgba(139, 210, 67, 0.22);
  color: #7ED321;
}

.quiz-answer-incorrect {

}

.quiz-success, .quiz-failure {
  text-align: center;
}
