<nav id="main-nav" class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="brand" class="navbar-brand" href="#"><img src="images/logo.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">How it works</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<section id="main-banner" class="container-fluid">
  <div class="container">
    <h1>Changing the way you see video ads</h1>
    <div class="col-md-4">
      <img class="img-responsive" src="images/1.png">
      <p>CleverAds will engage users with advertising content via an ad-related quiz.</p>
    </div>
    <div class="col-md-4">
      <img class="img-responsive" src="images/2.png">
      <p>Users answer correctly and show their knowledge and engagement about the advertisement.</p>
    </div>
    <div class="col-md-4">
      <img class="img-responsive" src="images/3.png">
      <p>Users will be able to skip the ad immediately and earn points by getting quiz right.</p>
    </div>
  </div>
</section>
<section id="sub-banner">
  <div class="container">
  <div class="col-md-12">
    {{video-player questions=model}}
  </div>
{{!--     <div class="col-md-6">
      <h1>We’re making web ads smarter. Want to be part of the change?</h1>
      <p>Working at Facebook means doing what you love. We hire trailblazers, hackers and pioneers. We want people who can solve challenging problems, make a real impact and build something big.</p>
      <a href="#">Learn More</a>
    </div> --}}
  </div>
</section>
  <section id="login-banner" class="container-fluid">
    <div class="container">
      <div id="existing-user" class="col-md-6">
      <div class="login-sub">
        <h1>Existing User</h1>
        <a class="btn" href="#">Sign In</a>
        <p>Want more from your online customers? Sign up to Google AdWords today and be discovered whenever people search the web for the things you sell. And only pay when they click or call. Learn more</p>
      </div>
    </div>
    <div id="new-user" class="col-md-6 login-sub">
      <div>
        <h1>New User</h1>
        <a class="btn" href="#">Get Started</a>
        <p>Want more from your online customers? Sign up to CleverAds today and be discovered whenever people interact with the things you sell. And only pay when they click or call. Learn more</p>
      </div>
    </div>
  </div>
</section>
<footer class="container-fluid">
  <div class="container">
    <div class="col-md-6">
      <ul class="list-unstyled">
        <li><a href="#">How it Works</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">About Us</a></li>
      </ul>
    </div>
    <div class="col-md-6">
      <p>Copyright 2015 CleverAds</p>
    </div>
  </div>
</footer>