@import "bootstrap-sprockets";
@import "bootstrap";

$green: #6FC1AF;
$dark-gray: #9B9B9B;
$med-gray: #979797;
$med-light-gray: #F2F2F2;
$light-gray: #F9F9F9;

body {
	font-family: 'Open Sans', sans-serif;
}

#main-nav {
	margin: 0;
	.navbar-default {
		background: white;
	}
}

#brand {
	padding: 0;
	padding-left: 25px;
	padding-top: 8px;
	color: $green;
	img {
		width: 90%;
	}
}

#main-banner {
	padding-top: 5px;
	padding-bottom: 35px;
	background: $green;
	text-align: center;
	h1 {
		margin: 50px 0;
		font-weight: 100;
		color: white;
		letter-spacing: 1px;
	}
	p {
		font-weight: 100;
		color: white;
		letter-spacing: 1px;
		font-size: 14px;
		margin: 25px;
	}
}

#sub-banner {
	padding-bottom: 65px;
	#vdo {
		padding: 0 20px;
		padding-top: 65px;
	}
	h1 {
		color: $green;
		font-weight: 100;
		line-height: 50px;
		margin: 65px 0;
		margin-bottom: 40px;
	}
	p {
		color: $med-gray;
		font-size: 16px;
		font-weight: 100;
		line-height: 28px;
	}
	a {
		display: block;
		color: $green;
		letter-spacing: 1px;
		font-weight: 100;
		font-size: 16px;
		padding-top: 25px;
		font-size: 20px;
	}
}

#login-banner {
	padding: 0;
	background: $light-gray;
	#existing-user {
		padding-bottom: 65px;
	}
	h1 {
		font-size: 45px;
		margin: 65px 0;
		margin-bottom: 55px;
		font-weight: 100;
		letter-spacing: 1px;
		color: $dark-gray;
	}
	p {
		color: $dark-gray;
		letter-spacing: 1px;
		line-height: 25px;
		margin-top: 45px;
		padding: 0 25px;
	}
	.btn {
		font-size: 18px;
		letter-spacing: 1px;
		color: $green;
		font-weight: 400;
		padding: 12px 65px;
		border: 3px solid $green;
	}

	#new-user {
		padding-bottom: 65px;
	}
	.login-sub {
		text-align: center;
	}
}

footer {
	border-top: 1px solid $med-light-gray;
	p {
		float: right;
		font-size: 16px;
		font-weight: 100;
		letter-spacing: 1px;
		color: $med-gray;
		padding: 25px;
		padding-bottom: 0;
	}
	ul {
		li {
			float: left;
			padding: 25px;
			a {
				font-size: 16px;
				color: $green;
				font-weight: 100;
				letter-spacing: 1px;
			}
		}
	}
}