<section id="main-banner" class="container-fluid">
	<div class="container">
		<h1>Changing the way you see video ads</h1>
		<div class="col-md-4">
			<img class="img-responsive" src="assets/1.png">
			<p>The industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
		</div>
		<div class="col-md-4">
			<img class="img-responsive" src="assets/2.png">
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
		</div>
		<div class="col-md-4">
			<img class="img-responsive" src="assets/3.png">
			<p>Since the 1500s, when an unknown printer took a galley of type and scrambled</p>
		</div>
	</div>
</section>
<section id="sub-banner">
	<div class="container">
	<div class="col-md-6">
		<img id="vdo" class="img-responsive" src="assets/vd.png">
	</div>
		<div class="col-md-6">
			<h1>We’re making web ads smarter. Want to be part of the change?</h1>
			<p>Working at Facebook means doing what you love. We hire trailblazers, hackers and pioneers. We want people who can solve challenging problems, make a real impact and build something big.</p>
			<a href="#">Learn More</a>
		</div>
	</div>
</section>
	<section id="login-banner" class="container-fluid">
		<div class="container">
			<div id="existing-user" class="col-md-6">
			<div class="login-sub">
				<h1>Existing User</h1>
				<a class="btn" href="#">Signin</a>
				<p>Want more from your online customers? Sign up to Google AdWords today and be discovered whenever people search the web for the things you sell. And only pay when they click or call. Learn more</p>
			</div>
		</div>
		<div id="new-user" class="col-md-6 login-sub">
			<div>
				<h1>New User</h1>
				<a class="btn" href="#">Get Started</a>
				<p>Want more from your online customers? Sign up to Clever Ads today and be discovered whenever people interact with the things you sell. And only pay when they click or call. Learn more</p>
			</div>
		</div>
	</div>
</section>
<footer class="container-fluid">
	<div class="container">
		<div class="col-md-6">
			<ul class="list-unstyled"> 
				<li><a href="#">How it Works</a></li>
				<li><a href="#">Contact Us</a></li>
				<li><a href="#">About Us</a></li>
			</ul>
		</div>
		<div class="col-md-6">
			<p>Copyright 2015 CleverAds</p>
		</div>
	</div>
</footer>